/* Estilos para el modo responsive */

@media screen and (max-width: 768px) {
    /* Ocultar el menú inicialmente en pantallas pequeñas */
    .menu ul {
      display: none;
    }
  
    /* Mostrar el menú cuando está activo */
    .menu.active ul {
      display: block;
    }
  
    /* Estilos para el ícono hamburguesa */
    .hamburger {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
      cursor: pointer;
    }
  
    /* Estilos para el ícono de cierre (X) */
    .hamburger i, .close i {
      color: rgb(31, 6, 6);    /*TRES LINEAS*/
      font-size: 20px;
    }
  
    /* Ocultar el ícono de cerrar inicialmente */
    .close {
      display: none;
    }
  
    /* Ocultar el ícono hamburguesa cuando el menú está activo */
    .menu.active .hamburger {
      display: none;
    }
  
    /* Mostrar el ícono de cierre cuando el menú está activo */
    .menu.active .close {
      display: flex;
    }
  
    /* Menú desplegable en modo columna */
    .menu.active ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ebebf1;   /* FONDO EN DOND EESTA ADNN Y EMB*/
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: 1;
      color: rgb(226, 46, 130); /* PUNTITO AL LADO DE ADN */
    }
  
    /* Espaciado entre elementos del menú */
    .menu.active ul li {
      margin: 20px 0;
    }
  
    /* Estilos de layout responsivo */
    .container {
      flex-direction: column;
    }
  
    .image-container, .text-container {
      margin: 0 0 20px;
      
    }
  }
  
  /* Estilos para pantallas grandes */
  @media screen and (min-width: 769px) {
    /* Ocultar el ícono de hamburguesa y el de cierre en pantallas grandes */
    .hamburger, .close {
      display: none;
    }
  
    /* Mostrar el menú como una lista horizontal en pantallas grandes */
    .menu ul {
      display: flex;
      justify-content: flex-end;
    }
  
    .menu ul li {
      margin: 0 15px;
    }
  }
  

    
.emb {
        
       
  padding: 15px;
          
         
  margin: 10px;
      }
  
  
     
  .emb h2 {
          
         
  font-size: 1.8rem;
      }
  
      
  
  .emb p {
          font-size: 1rem;
      }
  
  
      












/* 

@media screen and (max-width: 768px) {
  .menu ul {
      display: none;
  }

  .menu.active ul {
      display: block;
  }

  .hamburger {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
      cursor: pointer;
  }

  .hamburger i, .close i {
      color: white;
      font-size: 20px;
  }

  .close {
      display: none;
  }

  .menu.active .hamburger {
      display: none;
  }

  .menu.active .close {
      display: flex;
  }

  .menu.active ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #000;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: 1;
  }

  .menu.active ul li {
      margin: 20px 0;
  }

  .container {
      flex-direction: column;
  }

  .image-container, .text-container {
      margin: 0 0 20px;
  }
}
*/
/* Ocultar el menú y la "X" en pantallas grandes */
/*@media screen and (min-width: 769px) {
  .hamburger, .close {
      display: none;
  }
}
*/